[submodule "extern/cpp-netlib"]
	path = extern/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
[submodule "extern/opqit"]
	path = extern/opqit
	url = git@github.com:chrismanning/opqit.git
[submodule "extern/gtest"]
	path = extern/gtest
	url = https://github.com/cpp-netlib/gtest.git
[submodule "extern/gmock"]
	path = extern/gmock
	url = https://github.com/cpp-netlib/gmock.git
