[submodule "extern/cpp-netlib"]
	path = extern/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib.git
    ignore = dirty
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "extern/ejdb"]
	path = extern/ejdb
	url = https://github.com/Softmotions/ejdb.git
[submodule "extern/ejpp"]
	path = extern/ejpp
	url = https://github.com/chrismanning/ejpp.git
[submodule "extern/jbson"]
	path = extern/jbson
	url = https://github.com/chrismanning/jbson.git
[submodule "extern/hana"]
	path = extern/hana
	url = https://github.com/ldionne/hana.git
[submodule "extern/lastfmpp"]
	path = extern/lastfmpp
	url = git@github.com:chrismanning/lastfmpp.git
