[submodule "extern/cpp-netlib"]
	path = extern/cpp-netlib
	url = git@github.com:chrismanning/cpp-netlib.git
[submodule "extern/opqit"]
	path = extern/opqit
	url = git@github.com:chrismanning/opqit.git
